@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

.cuerpo{
    margin: 0;
    display: flex;
    flex-direction: column;
}
.articulo{
    display: flex; 
    flex-direction: column;
    width: 100%;
}
.navegador{
  background-color: #151340;
  padding: .5rem     1rem;
}
.submenu {
  background-color: #151340;
}
.submenu a {
  color: #FFFFFF;
}
.listasfooter {
  display: flex;
  gap: 2px;
  list-style: none;
  padding: 0;
}
.listase{
    text-decoration: none; 
    color: #FFFFFF; 
    font-weight: 600;
    float: left
}
.listase:focus {
  color: #FFFFFF !important;
}
li a {
  display: block;   
  color: white;          
  text-align: center;    
  padding: 14px 16px;   
  text-decoration: none; 
}
.navegador li a:hover {
  background-color: #706C8C;}
.iconos {
    width: 25px;
    height: 25px;
    margin-right: 8px;
    vertical-align: middle;}
.titprin{
    text-align: center;
    color: #540c79;
    font-family:cursive;
}
.logo {
  height: 40px; 
  width: auto;
}
.piepag{
    background: 	#2A2875; 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 30px; 
    padding: 30px; 
    width: 100%;
    position: static;
    bottom: 0; 
    z-index: 100;
}
.imgpie{
    width: 32px; 
    aspect-ratio: 1/1; 
    object-fit: contain;
}
.listasfooter{
  list-style-type: none;
  margin: 0;      
  padding: 0;       
  overflow: hidden;     
}
.separador{
  border-left: 2px solid #010138; 
  height: 50px; 
  margin: 0 5px; 
}
.entradas{
    border-radius: 16px; 
    border: 1px solid #0000cc; 
    padding: 3px 10px;
    background-color: #e6e6e6;
    margin: 12px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: width 0.4s ease-in-out;
} 
.centro-boton {
  display: flex;
  justify-content: center;
}
.otros-tipos {
  padding-top: 32px;
  background-color:#D9D2D0;
}
.otros-tipos h2 {
  text-align: center;
}
#tarjetas-conceptos{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  padding: 20px;
  gap: 40px;
}
#tarjeta-ind-concepto{
  background-color: #D9D2D0;
  text-align: justify;
}
#botones-tarjetas-conceptos{
  background-color: #151340;
  justify-content: center;
}
.card {
  height: 100%;
}
.card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.navbar-image {
  width: 3rem; 
}

.container-item {
  flex: 1;
  border: 1px solid #d8d8d8;
  border-radius: 1rem;
  padding: 1rem;
  background: #FFFFFF;
  transition: box-shadow .3s;
}

.container-item:hover {
  box-shadow: 0px 0px 10px 2px rgba(21, 19, 64, .3);
}

.carousel-container-image {
  background: #000013;
  display: flex;
  justify-content: center;
  height: 400px;
  width: 100%;
  align-items: center;
}

.carousel-image {
  height: inherit;
}